@font-face {
  font-family: 'Fancy Script';
  font-style: normal;
  font-weight: 400;
  src: url('./resources/fancyscript.woff2'); /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'),
       url('./resources/fancyscript.woff2') format('woff2')
}

@font-face {
  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: 400;
  src: url('./resources/Roboto-Bold.woff'); /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'),
       url('./resources/Roboto-Bold.woff') format('woff')
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./resources/Roboto-Regular.woff'); /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'),
       url('./resources/Roboto-Regular.woff') format('woff')
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
