@font-face {
  font-family: 'Fancy Script';
  font-style: normal;
  font-weight: 400;
  src: url('./resources/fonts/fancyscript.woff2');
  src: local('Open Sans'), local('OpenSans'),
       url('./resources/fonts/fancyscript.woff2') format('woff2')
}

@font-face {
  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: 600;
  src: url('./resources/fonts/Roboto-Bold.woff');
  src: local('Open Sans'), local('OpenSans'),
       url('./resources/fonts/Roboto-Bold.woff') format('woff')
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 00;
  src: url('./resources/fonts/Roboto-Regular.woff');
  src: local('Open Sans'), local('OpenSans'),
       url('./resources/fonts/Roboto-Regular.woff') format('woff')
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}