.font-large {
  font-size: large;
}

.text-center {
  text-align: center;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.bg-black {
  background-color: black;
}

.bg-light-black {
  background-color: #222;
}

.bg-white {
  background-color: white;
}

.white {
  color: white;
}

.black {
  color: black;
}

.wide-80 {
  width: 80%;
}

.high-80 {
  height: 80%;
}

.wide-100 {
  width: 100%;
}

.high-100 {
  height: 100%;
}

@media screen and (min-width: 320px) and (max-width: 1025px) { /* Small */
  .wide-80 {
    width: 95%;
  }

  .high-80 {
    height: 95%;
  }
}