.half {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  max-width: 50%;
}

.inline {
  display: inline-block;
}

.quarter {
  width: 100%;
  max-width: 25%
}

@media screen and (min-width: 320px) and (max-width: 1025px) {

  /* Small Screen */
  .half {
    display: inline-block;
    width: 100%;
    max-width: 80%;
  }

  .quarter {
    display: inline-block;
    width: 100%;
    max-width: 80%
  }
}

.bordered-item {
  border-collapse: collapse;
  border-color: rgb(128, 128, 128);
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border-radius: 2px;
  overflow: hidden;
  margin: 0 0 6px 0;
}

.hover-darken:hover {
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.20), 0 0 0 1px rgba(0, 0, 0, 0.16);
}

.wide-60 {
  width: 60%;
}

.wide-40 {
  width: 40%;
}

.bg-image {
  background-position: center;
  background-size: cover;
}

.fit-image {
  width: 100%;
  height: 200px;
}

.align-top {
  vertical-align: top
}

.bg-green {
  background-color: lightgreen
}

.rounded {
  border-radius: 1em;
}